# ----------------------
# Python Backend
# ----------------------
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# Environment Variables
backend/.env
backend/.env.*

# Uploaded Documents
backend/uploads/

# Vector Database
backend/chroma_db/
backend/chroma/
backend/vector_store/
backend/faiss_index/
backend/faiss/
backend/storage/

# Generated Images
backend/page_images/

# Logs
*.log

# ----------------------
# Next.js Frontend
# ----------------------
frontend/node_modules
frontend/.next/
frontend/out/

# Environment Variables
frontend/.env.local
frontend/.env

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# production
frontend/build

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE Files
# ----------------------
.vscode/
.idea/

# ----------------------
# Build Files
# ----------------------
dist/
build/

# vercel
frontend/.vercel